* {
    margin: 0;
    padding: 0;
    box-sizing: 100vh;
}

div {
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
}

.back {
    font-size: 24px;
    height: 640px;
    background: url(./Images/\heart.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: red;
    justify-content: center;
}

p {
    display: inline;
    position: relative;
    font-size: 24px;
    left: 10px;
    bottom: 200px;
    color: red;
    background-color: rgba(0, 255, 255, 0.397);
}

.me {
    display: inline;
    position: relative;
    font-size: 24px;
    right: 10px;
    bottom: 150px;
    color: rgb(248, 6, 6);
    background-color: rgba(132, 0, 255, 0.527);
}

h2 {
    font-size: 40px;
    border: 1px solid blue;
    /* margin-top: 20px; */
}

h1 {
    display: inline;
    border: 2px solid rgb(43, 255, 0);
    border-radius: 25px;
}

h2 {
    position: relative;
    border: 3px solid red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-bottom-left-radius: 30px;
    top: 0px;
    bottom: 200px;
}

.transition {
    background: red;
    transition: all 2s ease-in-out;
    animation-name: call;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    text-shadow: aqua;
}

.transition:hover {
    background: yellow;
    transform: translate(20px, 10px);
    color: blue position: relative;
    top: 0px;
    bottom: 200px;
}

.animation {
    background: blue;
    animation-name: move;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

@keyframes move {
    0% {
        transform: translateX(-30px);
        background: red;
        color: rgb(0, 255, 76);
    }
    20% {
        transform: translatey(15px);
        background: forestgreen;
        color: blue;
    }
    30% {
        transform: translateY(60px);
        background: rgb(245, 76, 147);
        color: gold;
    }
    40% {
        transform: translateX(25px);
        background: rgb(126, 27, 172);
        color: rgb(255, 255, 255);
    }
    50% {
        transform: translateY(30rem);
        background: rgb(251, 255, 0);
        color: floralwhite;
    }
    60% {
        transform: translatex(30px);
        background: rgb(42, 168, 241);
        color: palevioletred;
    }
    70% {
        transform: translateY(-36px);
        background: rgb(241, 69, 190);
        color: chocolate;
    }
    80% {
        transform: translatex(15.96px);
        background: rgb(65, 66, 16);
        color: red;
    }
    90% {
        transform: translateY(25px);
        background: rgba(53, 108, 211, 0.678);
        color: palevioletred;
    }
    95% {
        transform: translatey(10px);
        background: rgb(226, 224, 119);
        color: blue;
    }
    100% {
        transform: translateY(25px);
        background: rgb(255, 0, 140);
        color: red;
    }
}

@keyframes call {
    0% {
        transform: translateY(-120px);
        background: red;
        color: red;
    }
    20% {
        transform: translatey(15px);
        background: forestgreen;
        color: blue;
    }
    30% {
        transform: translateY(-90px);
        background: rgb(245, 76, 147);
        color: gold;
    }
    40% {
        transform: translateY(25px);
        background: rgb(126, 27, 172);
        color: rgb(255, 255, 255);
    }
    50% {
        transform: translateY(30rem);
        background: rgb(251, 255, 0);
        color: floralwhite;
    }
    60% {
        transform: translatex(-30px);
        background: rgb(42, 168, 241);
        color: palevioletred;
    }
    70% {
        transform: translateY(35px);
        background: rgb(241, 69, 190);
        color: chocolate;
    }
    80% {
        transform: translatex(15.96px);
        background: rgb(65, 66, 16);
        color: red;
    }
    90% {
        transform: translateY(25px);
        background: rgba(53, 108, 211, 0.678);
        color: palevioletred;
    }
    95% {
        transform: translatey(10px);
        background: rgb(226, 224, 119);
        color: blue;
    }
    100% {
        transform: translateY(25px);
        background: rgb(255, 0, 140);
        color: red;
    }
}